<!DOCTYPE html>
<head>
	<title>Todo List</title>
	<link rel="stylesheet" type="text/css" href="../css/todos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="../js/db.js"></script>
	
</head>
<body>
    <!-- NAV BAR -->
	<!-- Image and text -->
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<a class="navbar-brand" href="#">
		<img src="../images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		BookMarker
		</a>
		<button class="btn btn-outline-primary ml-auto" type="" id="updateDB" >Save</button>
		<button class="btn btn-outline-success my-2 my-sm-0" id="signOut" type=""  >Logout </button>
	</nav>
	<!-- NAV BAR -->
	<br>
	

	<section>
	<form>
	<!-- ADD CARD TO BODY BUTTON-->
		<div class="container" >
			<div id="new_list_button">
				<input class="card text-center form-control" type="text" placeholder="Enter name of new list" id="new_list_name" required>
			</div>
				<br>
			<div class="card border-primary text-center" >
				<button id="new_bookmark" type="submit" class="btn btn-outline-primary text-center">Add new list <i class="fa fa-plus-circle" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	<!-- ADD CARD TO BODY BUTTON -->
	<br>
	</form>
	</section>
	<!-- ADD CARD TO BODY -->
	<form name="login" id='Save_bookmark' method='POST' class="container ">
	<section>
		<div id="add_bookmark" >
		</div>

	</section>		
	</form>

<script type="text/javascript" src="../js/todos.js"></script>
</body>
</html>